---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*@author [Göksel ÇELEN];*/

/* *** Lyk Jekyll " <GÖKSEL ÇELEN BOLU MERKEZ> Styles *** */

@charset "UTF-8";

@import url(normalize.css);

*{
    border:none;
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
}

img{
    width:100%;
}

.clear{
    clear:both!important;
}

a{
    color:#1e4ce9;
    text-decoration:none;
}

body{
font-family:Arial, Helvetica, sans-serif;
background-color:#fff;
color:#444;
}

body > header{
    padding: 20px 0;
}

header{
}

main{
}

footer{
}

.wrapper{
    width:80%;
    margin-right:auto;
    margin-left:auto;
    border:1px solid transparent;
}

.site-title{
    float:left;
    margin:0;
}

.site-title a{
    color:#444;
}

.site-nav{
    float:right;
}

.posts{
    list-style:none;
    padding:0;
}

.posts li {
    border-bottom:1px solid #fff;
    padding:20px 0;
}

.posts li:last-child{
    border-bottom:unset;
}

.posts li a{
    color:#666;
}

.posts li p{
    font-size:13px;
    padding-top:20px;
    line-height:19px;
}

.date{
    font-size:60%;
    color:#999;
    float:right;
}

.site ul{
    margin:0;
    padding:0;
}

.site-nav ul li{
    display:inline-block;
}

.site-nav ul li a{
    display:block;
    padding:4px 8px;
    color:#444;
    font-weight:700;
}
.site-nav ul li a:last-child{
    padding-right:0;
}

.site-footer{
    color:#888;
    text-align:center;
    margin-top:20px;
    border-top:1px solid #fefefe;
}