<footer class="site-footer">
	<div class="wrapper">
		<div class="site-footer">
			<a href="mailto:{{ site.email }}">{{ site.email }}</a>
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
		</div>
	</div>
</footer>

